* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

body {
  font-family:  "Microsoft YaHei UI";
}

/*header footer*/
.header,
.footer {
  width: 100%;
  height: 100px;
  background: #07cbc9;
  text-align: center;
  line-height: 100px;
  color: #fff;
  float: left;
  z-index: 3;
}

.header {
  position: fixed;
}

.header .logo {
  float: left;
}

.header .logo img { /* 260*50 */
  width: 260px;
  padding: 25px 0 25px 100px;
  cursor: pointer;
}

.header .nav {
  float: right;
}

.header .nav ul {
  padding-right: 60px;
}

.header .nav ul li {
  float: left;
  font-weight: bold;
  line-height: 100px;
  padding: 0 15px;
  cursor: pointer;
}

.header .nav ul li:hover {
  background: #000;
}

/* .clear {
  clear: both;
}*/

.main .banner,
.main .about,
.main .facility,
.main .gallery {
  width: 100%;
  float: left;
}

/* main banner */
.main .banner {
  font-size: 0;
  position: relative;
  margin-top: 100px;
}

.main .banner img { /* 1700*600 */
  width: 100%;
  height: 600px;
}

.main .banner .banner-layer {
  width: 100%;
  height: 600px;
  background: #000;
  position: absolute;
  top: 0;
  opacity: 0.5;
}

.main .banner .banner-top {
  width: 500px;
  height: 450px;
  position: absolute;
  top: 300px;
  left: 50%;
  margin: -225px 0 0 -250px; 
}

input::-webkit-input-placeholder, /* 设置placeholder样式 */
textarea::-webkit-input-placeholder {
  font: 16px "Microsoft YaHei UI";
  color:#fff;
}

.main .banner .banner-top input,
.main .banner .banner-top textarea,
.main .banner .banner-top button {
  width: 100%;
  height: 50px;
  padding-left: 10px;
  background: transparent;
  border: 2px #fff solid;
  margin-bottom: 20px;
  font: 16px "Microsoft YaHei UI";
  color:#fff;
}

.main .banner .banner-top textarea {
  height: 120px;
  padding: 15px 0 15px 10px;
  resize:none
}

.main .banner .banner-top button {
  width: 150px;
  margin: 0 175px;
  padding: 0;
}

.main .banner .banner-top input:hover,
.main .banner .banner-top textarea:hover {
  border-color: #07cbc9;
}

.main .banner .banner-top button:hover {
  border-color: #07cbc9;
  background: #07cbc9;
  cursor: pointer;
}

/* main about */
.main .about .about-content {
  width: 1100px;
  height: 600px;
  margin: 0 auto;
  padding: 50px;
}

.main .about .about-content .top,
.main .gallery .gallery-content .top {
  margin: 0 auto;
  text-align: center;
}

.main .about .about-content .top h1,
.main .gallery .gallery-content .top h1 {
  font-size: 54px;
}

.decoration-line {
  width: 42px;
  height: 2px;
  background: #07cbc9;
  margin: 18px auto;
}

.main .about .about-content .top .text,
.main .gallery .gallery-content .top .text {
  font-size: 15px;
  color: #969696;
  line-height: 1.5em;
}

.main .about .about-content .bottom {
  margin: 30px auto;
  text-align: center;
  position: relative;
}

.main .about .about-content .bottom .left {
  float: left;
  position: relative;
  z-index: 3;
}

.main .about .about-content .bottom .middle {
  float: left;
  position: absolute;
  left: 240px;
}

.main .about .about-content .bottom .right {
  float: right;
  position: relative;
}


.main .about .about-content .bottom .left .left-title {
  font-size: 36px;
  text-align: left ;
  padding: 0 10px 5px;
}

.main .about .about-content .bottom .left .left-content {
  background: rgba(255, 255, 255, 0.5);
  border: 1px #dbdbdb solid;
  text-align: left;
  line-height: 1.5em;
  padding: 25px;
}

.main .about .about-content .bottom .left .left-content button {
  width: 110px;
  height: 50px;
  background: #000;
  font: 16px "Microsoft YaHei UI";
  color: #fff;
  border: 0;
  margin: 20px 0 5px;
}

.main .about .about-content .bottom .left .left-content button:hover {
  background: #fff;
  color: #000;
  border: 2px #000 solid;
  cursor: pointer;
}

.main .about .about-content .bottom .middle img {
  width: 570px;
  height: 380px;
}

.main .about .about-content .bottom .right .num-common {
  width: 180px;
  height: 90px;
  border: 1px #07cbc9 solid;
  padding: 25px 25px 30px;
  margin: 0 20px 30px;
}

.main .about .about-content .bottom .right .num-common .num {
  font-size: 30px;
  font-weight: bold;
}

.main .about .about-content .bottom .right .num-common .matter {
  font-size: 20px;
}

/* main gallery */
.main .gallery .gallery-content {
  width: 1440px;
  height: 880px;
  margin: 0 auto;
  padding: 50px 0;
}

.main .gallery .gallery-content .bottom {
  width: 1200px;
  margin: 30px auto;
}

.main .gallery .gallery-content .bottom .con-com {
  width: 30%;
  float: left;
  font-size: 0;
  padding: 15px;
}

.main .gallery .gallery-content .bottom .con-com .label {
  height: 60px;
  background: #000;
  font-size: 14px;
  line-height: 60px;
  color: #fff;
  padding-left: 20px;
}

/* main facility */
.main .facility {
  padding: 30px 0;
}

.main .facility .pic-com img, /* 460*396 */
.main .facility .con-com {
  width: 25%;
  height: 396px;
  float: left;
  background: #07cbc9;
  position: relative;
}

.main .facility .con-com {
  z-index: 3;
}

.main .facility .left-triangle,
.main .facility .right-triangle {
  width: 0;
  height: 0;
  border: 20px solid transparent;
  position: absolute;
  top: 178px;
}

.main .facility .left-triangle {
  border-right-color: #07cbc9;
  left: -40px;
}

.main .facility .right-triangle {
  border-left-color: #07cbc9;
  right: -40px;
}

.main .facility .con-com .content {
  width: 360px;
  height: 300px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.main .facility .con-com .title {
  font-size: 30px;
  color: #fff;
}

.main .facility .con-com .text1 {
  color: #fff;
  line-height: 1.5em;
  margin-top: 20px;
}

.main .facility .con-com .text2 {
  color: #dbdbdb;
  font-size: 13px;
  line-height: 1.5em;
  margin-top: 20px;
}

.main .facility .con-com button {
  width: 110px;
  height: 48px;
  background: #000;
  font: 14px "Microsoft YaHei UI";
  color: #fff;
  border: 0;
  margin: 40px 125px;
}

.main .facility .con-com button:hover {
  background: #07cbc9;
  border: 2px #000 solid;
  cursor: pointer;
}
